<section class="section-hero">
  <div class="hero-img-box">
    <img src="/assets/images/hero.png" alt="hero" width="550" height="470" class="hero-img" />
  </div>
  <div class="hero-text-box">
    <img src="/assets/images/logo.png" alt="Task-L logo" width="256" height="256" class="logo-img" />
    <h1 class="slogan">
      Organize your life,<br />
      one task at a time with <span class="app-name">Task-L</span>
    </h1>

    <div>
      <a href="#" class="btn btn--fill btn-log-in">Log in</a>
      <a routerLink="/auth/singup" class="btn btn--outline btn-sing-up">Sing up</a>
    </div>
  </div>
</section>
