<div class="container">
  <div class="form-container">
    <a routerLink="" class="link-back"><i class="bi bi-arrow-left"></i></a>
    <img src="/assets/images/logo-text.png" alt="Task-L logo" height="273" width="212" class="logo-img" />
    <section class="section-form">
      <h1>Sign Up</h1>
      <form [formGroup]="singUpForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="example@mail.com"
            formControlName="email"
            [ngClass]="{ 'input-error': (email?.touched && email?.invalid) || emailApiError }" />
          <span *ngIf="(email?.touched && email?.invalid) || emailApiError" class="error-message">{{
            emailErrorMessage()
          }}</span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            placeholder="*************"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            [ngClass]="{ 'input-error': (password?.touched && password?.invalid) || passwordApiError }" />
          <button type="button" class="btn-show-password" (click)="toggleShowPassword()">
            <i class="bi bi-eye" [ngClass]="{ 'bi-eye': !showPassword, 'bi-eye-slash': showPassword }"></i>
          </button>
          <span *ngIf="(password?.touched && password?.invalid) || passwordApiError" class="error-message">{{
            passwordErrorMessage()
          }}</span>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            id="confirmPassword"
            placeholder="*************"
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            [ngClass]="{
              'input-error': (confirmPassword?.touched && confirmPassword?.invalid) || confirmPasswordApiError
            }" />
          <button type="button" class="btn-show-password" (click)="toggleShowConfirmPassword()">
            <i class="bi" [ngClass]="{ 'bi-eye': !showConfirmPassword, 'bi-eye-slash': showConfirmPassword }"></i>
          </button>
          <span
            *ngIf="(confirmPassword?.touched && confirmPassword?.invalid) || confirmPasswordApiError"
            class="error-message"
            >{{ confirmPasswordErrorMessage() }}</span
          >
        </div>

        <button type="submit" class="btn btn--fill btn--submit" [disabled]="singUpForm.invalid || loading">
          <app-btn-spinner *ngIf="loading"></app-btn-spinner>
          <span>Sign Up</span>
        </button>
      </form>
      <p>Already have an account? <a routerLink="/auth/login" class="link">Log in</a></p>
    </section>
  </div>
</div>
