<div class="container">
  <div class="form-container">
    <a routerLink="" class="link-back"><i class="bi bi-arrow-left"></i></a>
    <img src="/assets/images/logo-text.png" alt="Task-L logo" height="273" width="212" class="logo-img" />
    <section class="section-form">
      <h1>Sign Up</h1>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="example@mail.com" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="*************" />
          <button type="button" class="btn-show-password"><i class="bi bi-eye"></i></button>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input type="password" id="confirmPassword" placeholder="*************" />
          <button type="button" class="btn-show-password"><i class="bi bi-eye"></i></button>
        </div>
        <button type="submit" class="btn btn--fill btn--sing-up">Sign Up</button>
      </form>
      <p>Already have an account? <a href="#" class="link">Log in</a></p>
    </section>
  </div>
</div>
