:root {
  --main-color-tint-40: #73ccd9;
  --main-color: #15AABF;
  --main-color-shade-40: #0D6673;
  --main-color-shade-70: #063339;

  --accent-color-tint-40: #aacb98;
  --accent-color: #71A953;
  --accent-color-shade-10: #66984B;
  --accent-color-shade-40: #446532;

  --gray-color-tint-90: #E9E9E9;
  --gray-color-tint-40: #7a7a7a;
  --gray-color-tint-30: #646464;
  --gray-color-tint-10: #383838;
  --gray-color: #222222;

  --red-color-tint-40: #DF7F7F;
  --red-color: #C92A2A
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0.6rem solid #73ccd9;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  overflow: auto;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--fill,
.btn--fill:link,
.btn--fill:visited {
  background-color: var(--accent-color);
  color: #fff;
}

.btn--fill:focus-visible {
  outline-color: var(--accent-color-tint-40);
}

.btn--fill:hover:not([disabled]),
.btn--fill:active:not([disabled]) {
  background-color: var(--accent-color-shade-10);
}

.btn--outline,
.btn--outline:link,
.btn--outline:visited {
  color: var(--gray-color);
  box-shadow: inset 0 0 0 2px var(--gray-color);
}

.btn--outline:hover,
.btn--outline:active {
  color: #fff;
  background-color: var(--gray-color);
}

.btn--outline:focus-visible {
  outline-color: var(--gray-color-tint-40);
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color-shade-40);
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--main-color-shade-40);
  border-bottom: 1px solid currentColor;
}

/* *********************** */
/* toast  */
/* *********************** */
.toast {
  font-size: 1.6rem;
}

/* Hide ms edge show password button */
::-ms-reveal {
  display: none;
}